.Media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Text {
    text-align: center;
}

.Card {
    margin: 2rem;
}

/* Media Query to hide StarRating on small screens */
@media (max-width: 767px) {
    .RatingContainer {
        display: none;
    }
}